/TEST/frontend/node_modules
/TEST/backend/node_modules
/TEST/blockchain/node_modules
/TEST/backend/media
/TEST/frontend/src/bg
/TEST/backend/.env
/TEST/frontend/src/Props/user
/TEST/frontend/src/Props/3.png
